name: pages

on:
  push:
    branches:
      - main
    paths:
      - pkg/config/config.*.json
      - .github/workflows/pages.yaml
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Prepare schema files
        run: |
          mkdir -p _site/schemas
          cp pkg/config/config.*.json _site/schemas/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    name: deploy
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
